.container {
    margin: 50px auto;
    text-align: center;
    width: 1360px;
}

.tabel {
    margin: auto;
    text-align: center;
    font-size: 24px;
    border-collapse: collapse;
    border: 3px solid black;
    background-color: #ff7f50;
    width: 100%;
  }
  
  .tabel td, .tabel th {
    border: 1px solid white;
    padding: 5px;
  }
  
  .tabel th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #ddd;
    color: black;
  }

.tambahData {
  margin: auto;
  text-align: center;
  width: 640px;
  border: 1px solid black;
}

button {
  display: inline-block;
  font-size: 18px;
  border-radius: 10px;
  margin: 8px;
}

input[type=text] {
  font-size: 20px;
  width: auto;
  padding: 10px;
  margin: 10px 20px;
  border-radius: 10px;
}

label {
  font-size: 20px;
  font-weight: bold;
}